
	//React player css
	.player-wrapper {
	position: relative;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
	width: 100%;
	height: 100%;
  }
  
	.react-player {
		position: absolute;
		top: -5%;
		left: 0;
		width: auto;
		height: auto;
	}


  //users favorites bookmark css
  .outline-bookmark, .full-bookmark {
	cursor: pointer;
	}
	.move-bookmark-mv {
	width: 3.5vw;
	height: auto;
	position: relative;
	top:-13px;
	color: white;
	background-color: rgba(0,0,0,.5);
	}
	
	#similar-movies {
		display: flex;
		flex-wrap: wrap;
	}

  	//font style css
  .font-style-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	}

	.font-style {
	font-family: 'Roboto', sans-serif;
	}

	.font-style-i {
	font-style: italic;
	}

	//H2 heading styles
	.movie-description-heading {
		color: black;
		border-left:solid 9px #ff4500;
		padding-left: 8px;
	}

	//container for top section with gradient background
		#movie-view-section-top {
		height: 200%;
		width: 130%;
		position: relative;
		right:80px;
		background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(91, 90, 90) 90.2%);
	}

	//styling for description, director, writers,actors and genres
	.movie-styles-name {
	color: black;
	font-size: 1em;
	}

	//white container that holds the bottom movie description 
	#movie-view-section-bottom {
		background-color: white;
		height: 100%;
		width: 130%;
		position: relative;
		right:80px;
	}

	//grey container that holds content in bottom section 
	#movie-description-section-bottom {
		background: #F5f5f5;
		width: 100%;
		position: relative;
		right: -3px;
	}

	//css for movie case poster
	#movie-image {
		position: relative;
		top: 0px;
		width: 100%;
		height: 100%;
	}

	//css for release date, rating, and movie length
	.movie-stats {
		color: #BDBDBD;
		font-size: 0.8em;
		position: relative;
		bottom: 10px;
		left: 5px;
	}


	//movie description styling
	.movie-description {
		color: black;
		font-size: 1.1em;
	}

	//movie title style
	.title-style {
		font-size: 4vw;
	}



	//media queries for all screen size responsiveness
	@media (max-width: 1669px) {
		#movie-image {
			position: relative;
			top: 25px;
			width: 100%;
			height: 100%;
		}

	}

	@media (max-width: 576px) {

	#movie-view-section-bottom {
		height: 55%;
		width: 135%;
		position: relative;
		right:10px;
	}

	#movie-view-section-top {
		height: 64%;
		width: 135%;
		position: relative;
		right:10px;
	}

	#react-move {
		position: relative;
		top: 54px;
		right: 50px;
	}

	#movie-image {
		position: relative;
		top: 0px;
		width: 70%;
		height: 50%;
	}


	@media (max-width: 576px) {
	#movie-view-section-bottom {
		height: 55%;
		width: 135%;
		position: relative;
		right:10px;
	}

	#movie-view-section-top {
		height: 64%;
		width: 135%;
		position: relative;
		right:10px;
	}

	#react-move {
		position: relative;
		top: 25px;
		right: 35px;
	}

		#movie-image {
			position: relative;
			top: -9px;
			width: 60%;
			height: auto;
		}

		.react-player {
			position: absolute;
			top: -16%;
			left: -22%;
		}

		.player-wrapper {
			width: 139%;
			height: 100%;
		}
	}

	@media (max-width: 476px) {

		.player-wrapper {
			width: 150%;
			height: 120%;
		}

		#movie-image {
			position: relative;
			top: -8px;
			width: 55%;
			height: 50%;
		}

		.react-player {
			position: absolute;
			top: -34%;
			left: -22%;
		}

		@media (max-width: 476px) {

		.player-wrapper {
			width: 160%;
			height: 120%;
		}

		#movie-image {
			position: relative;
			top: -8px;
			width: 55%;
			height: 50%;
		}

		.react-player {
			position: absolute;
			top: -34%;
			left: -23%;
		}

		.movie-stats {
			position: relative;
			left: -6px;
			bottom: 26px;
			font-size: 0.6em;
		}

		.move-bookmark-mv {
			width: 3.5vw;
			height: auto;
			position: relative;
			top:-16px;
			color: white;
			background-color: rgba(0,0,0,.5);
			}

			@media (max-width: 476px) {
				#movie-image {
					display: none;
					position: relative;
					top: -8px;
					width: 55%;
					height: 50%;
				}
	
				.movie-stats {
					position: relative;
					left: 220px;
					bottom: 65px;
					font-size: 0.5em;
				}
	
				.react-player {
					position: absolute;
					top: -55%;
					left: -44%;
				}
	
				.player-wrapper {
					width: 235%;
					height: 165%;
				}
	
	
				.move-bookmark-mv {
					width: 3.5vw;
					height: auto;
					position: relative;
					top:-40px;
					left: 302px;
					color: white;
					background-color: rgba(0,0,0,.5);
					}
	
					.title-style {
						font-size: 13px;
						position: relative;
						top: -10px;
						margin-top: 12px;
					}
			}
	


		@media (max-width: 375px) {

			#movie-image {
				display: none;
				position: relative;
				top: -8px;
				width: 55%;
				height: 50%;
			}

			.movie-stats {
				position: relative;
				left: 220px;
				bottom: 66px;
				font-size: 0.5em;
			}

			.react-player {
				position: absolute;
				top: -58%;
				left: -43%;
			}

			.player-wrapper {
				width: 235%;
				height: 185%;
			}


			.move-bookmark-mv {
				width: 3.5vw;
				height: auto;
				position: relative;
				top:-41px;
				left: 302px;
				color: white;
				background-color: rgba(0,0,0,.5);
				}

				.title-style {
					font-size: 13px;
					position: relative;
					top: -11px;
					margin-top: 12px;
				}
		}

		@media (max-width: 320px) {

			#movie-image {
				display: none;
				position: relative;
				top: -8px;
				width: 55%;
				height: 50%;
			}
	
			.react-player {
				position: absolute;
				top: -66%;
				left: -43%;
			}
	
			.movie-stats {
				position: relative;
				left: 175px;
				bottom: 59px;
				font-size: 0.5em;
			}

			.player-wrapper {
				width: 254%;
				height: 186%;
			}

			.move-bookmark-mv {
				width: 3.5vw;
				height: auto;
				position: relative;
				top:-34px;
				left: 257px;
				color: white;
				background-color: rgba(0,0,0,.5);
				}

				.title-style {
					font-size: 4vw;
					position: relative;
					top: -4px;
				}

				#movie-view-section-top {
					height: 110%;
					width: 130%;
					position: relative;
					right:0px;
					background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(91, 90, 90) 90.2%);
				}

			@media (max-width: 310px) {

			#movie-image {
				position: relative;
				top: -13px;
				right: 8px;
				width: 55%;
				height: 50%;
			}
	
			.react-player {
				position: absolute;
				top: -47%;
				left: -20%;
			}
	
			.movie-stats {
				position: relative;
				left: -6px;
				bottom: 25px;
			}

			.player-wrapper {
				width: 165%;
				height: 120%;
			}
			}
		}
		}
	}
} 
